NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://avqhimjfeizzfxewawvz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2cWhpbWpmZWl6emZ4ZXdhd3Z6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxODE1NDAsImV4cCI6MjA4OTc1NzU0MH0.kw5Li2vbNkoB4HeRkS3a01oRNl2k8X_bgIar4mwUJ0w
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2cWhpbWpmZWl6emZ4ZXdhd3Z6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE4MTU0MCwiZXhwIjoyMDg5NzU3NTQwfQ.2m6pnSPIvhyl2EcxV9bk23NPCSB0yt_X_mN4xpr4JT8
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=news-media

